add_prefix()
series()

pandas

In [1]:
import pandas as pd

C:\Users\AB\AppData\Local\Temp\ipykernel_29992\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [14]:
#a = pd.read_csv('"A:\\data.csv"')
a1 = pd.Series([1,2,3,4])
a1.add_prefix('item_')

item_0    1
item_1    2
item_2    3
item_3    4
dtype: int64

In [15]:
a1 = pd.Series([1, 2, 3, 4])
a1.add_suffix('_item')

0_item    1
1_item    2
2_item    3
3_item    4
dtype: int64

example1

In [17]:
a = pd.read_csv('A:\\data.csv')
a

   Unnamed: 0  country  population  mud  key
0           0    egypt   100000000  5.7  ARE
1           1    saudi    36000000  5.4  KSA
2           2  nigeria   120000000  5.2  NIG
3           3    sudan    70000000  4.9  SUD

In [18]:
a['country']

0      egypt
1      saudi
2    nigeria
3      sudan
Name: country, dtype: object

In [19]:
a['population']

0    100000000
1     36000000
2    120000000
3     70000000
Name: population, dtype: int64