Cleaning data

df.to_datetime()

In [2]:
import pandas as pd
df = pd.read_csv("A:\\csv data\\Datasets-master\\Datasets-master\\house price.csv")

C:\Users\AB\AppData\Local\Temp\ipykernel_1348\192377713.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [ ]:
df.info()

In [3]:
df['date'][0]

'2014-05-02 00:00:00'

In [4]:
df.date = pd.to_datetime(df['date'])

In [6]:
df[['date']]

           date
0    2014-05-02
1    2014-05-02
2    2014-05-02
3    2014-05-02
4    2014-05-02
...         ...
4595 2014-07-09
4596 2014-07-09
4597 2014-07-09
4598 2014-07-10
4599 2014-07-10

[4600 rows x 1 columns]

In [7]:
df.date.dt.month_name()

0        May
1        May
2        May
3        May
4        May
        ...
4595    July
4596    July
4597    July
4598    July
4599    July
Name: date, Length: 4600, dtype: object

In [ ]:
df['day_name'] = df.date.dt.day_name()

In [ ]:
df.head(5)

In [8]:
df[['price','date']]

             price       date
0     3.130000e+05 2014-05-02
1     2.384000e+06 2014-05-02
2     3.420000e+05 2014-05-02
3     4.200000e+05 2014-05-02
4     5.500000e+05 2014-05-02
...            ...        ...
4595  3.081667e+05 2014-07-09
4596  5.343333e+05 2014-07-09
4597  4.169042e+05 2014-07-09
4598  2.034000e+05 2014-07-10
4599  2.206000e+05 2014-07-10

[4600 rows x 2 columns]

In [ ]:
df

In [ ]:
df.drop(columns='sqft_lot')

In [ ]:
df.head(20)

In [ ]:
df.sort_index(ascending=False)

In [ ]:
df.drop(columns='sqft_lot')

In [ ]:
df.sort_values('date',inplace=True)

In [ ]:
df

In [ ]:
df.drop(labels='sqft_lot',axis=1,inplace=True)

In [ ]:
df.info()

In [ ]:
df.dropna(subset='price')

In [ ]:
df.info()