In [1]:
import pandas as pd

C:\Users\AB\AppData\Local\Temp\ipykernel_43716\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("A:\\csv data\\Datasets-master\\Datasets-master\\movie_rec\\ratings.csv")
df1 = pd.read_csv(
    "A:\\csv data\\Datasets-master\\Datasets-master\\movie_rec\\movies.csv")

In [ ]:
df.info()
print('*'*20)
df1.info()

In [ ]:
df1['genres'].value_counts()

In [ ]:
print(df['rating'].min())
print(df['rating'].idxmin())

In [ ]:
df

In [3]:
x = df.groupby('movieId').rating.agg(['min','max','mean'])

In [4]:
x

         min  max      mean
movieId
1        1.0  5.0  3.907328
2        0.5  5.0  3.353261
3        1.0  5.0  3.189655
4        1.0  4.0  2.818182
5        1.5  5.0  3.250000
...      ...  ...       ...
146684   4.0  4.0  4.000000
146878   2.5  2.5  2.500000
148238   3.0  3.0  3.000000
148626   4.0  4.5  4.333333
149532   4.0  4.0  4.000000

[10325 rows x 3 columns]

In [5]:
a = pd.DataFrame(x)

In [ ]:
a['index'] = range(1,10326)

In [6]:
a

         min  max      mean
movieId
1        1.0  5.0  3.907328
2        0.5  5.0  3.353261
3        1.0  5.0  3.189655
4        1.0  4.0  2.818182
5        1.5  5.0  3.250000
...      ...  ...       ...
146684   4.0  4.0  4.000000
146878   2.5  2.5  2.500000
148238   3.0  3.0  3.000000
148626   4.0  4.5  4.333333
149532   4.0  4.0  4.000000

[10325 rows x 3 columns]

In [ ]:
a.to_csv('A:\\csv data\\Datasets-master\\Datasets-master\\movie_rec\\rate_sort.csv')

In [ ]:
a

In [ ]:
df1

In [ ]:
df1[df1['movieId']==32153]

In [ ]:
dff = pd.read_csv(
    "A:\\csv data\\Datasets-master\\Datasets-master\\Christmas Data\\train.csv")

In [ ]:
dff

In [ ]:
dff['Class'].value_counts()

Analysis

In [8]:
happy_df = pd.read_csv(
    "A:\\csv data\\Datasets-master\\Datasets-master\\World Happiness Data\\2020.csv")

In [ ]:
happy_df

In [ ]:
happy_df.tail(20)

In [ ]:
happy_df[happy_df['Country name']=='Egypt']

In [ ]:
happy_df.describe()

In [ ]:
happy_df.info()

In [10]:
happy_df.groupby('Ladder score').count()

,Country name,Regional indicator,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Ladder score,,,,,,,,,,,,,,,,,,,
2.5669,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2.8166,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3.2992,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3.3123,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3.4759,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7.4880,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
7.5045,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
7.5599,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
7.6456,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
7.8087,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [ ]:
print(happy_df['Country name'].count())

In [14]:
happy_df.groupby('Ladder score').describe()

             Standard error of ladder score                                    \
                                      count      mean std       min       25%
Ladder score
2.5669                                  1.0  0.031311 NaN  0.031311  0.031311
2.8166                                  1.0  0.107610 NaN  0.107610  0.107610
3.2992                                  1.0  0.058674 NaN  0.058674  0.058674
3.3123                                  1.0  0.052425 NaN  0.052425  0.052425
3.4759                                  1.0  0.115183 NaN  0.115183  0.115183
...                                     ...       ...  ..       ...       ...
7.4880                                  1.0  0.034837 NaN  0.034837  0.034837
7.5045                                  1.0  0.059616 NaN  0.059616  0.059616
7.5599                                  1.0  0.035014 NaN  0.035014  0.035014
7.6456                                  1.0  0.033492 NaN  0.033492  0.033492
7.8087                                  1.0  0.031156 NaN  0.031156  0.031156

                                           upperwhisker            ...  \
                   50%       75%       max        count      mean  ...
Ladder score                                                       ...
2.5669        0.031311  0.031311  0.031311          1.0  2.628270  ...
2.8166        0.107610  0.107610  0.107610          1.0  3.027516  ...
3.2992        0.058674  0.058674  0.058674          1.0  3.414202  ...
3.3123        0.052425  0.052425  0.052425          1.0  3.415053  ...
3.4759        0.115183  0.115183  0.115183          1.0  3.701658  ...
...                ...       ...       ...          ...       ...  ...
7.4880        0.034837  0.034837  0.034837          1.0  7.556281  ...
7.5045        0.059616  0.059616  0.059616          1.0  7.621347  ...
7.5599        0.035014  0.035014  0.035014          1.0  7.628528  ...
7.6456        0.033492  0.033492  0.033492          1.0  7.711245  ...
7.8087        0.031156  0.031156  0.031156          1.0  7.869766  ...

             Explained by: Perceptions of corruption            \
                                                 75%       max
Ladder score
2.5669                                      0.001226  0.001226
2.8166                                      0.111157  0.111157
3.2992                                      0.080929  0.080929
3.3123                                      0.485542  0.485542
3.4759                                      0.028265  0.028265
...                                              ...       ...
7.4880                                      0.434101  0.434101
7.5045                                      0.144541  0.144541
7.5599                                      0.407946  0.407946
7.6456                                      0.495260  0.495260
7.8087                                      0.477857  0.477857

             Dystopia + residual                                              \
                           count      mean std       min       25%       50%
Ladder score
2.5669                       1.0  1.507236 NaN  1.507236  1.507236  1.507236
2.8166                       1.0  1.378751 NaN  1.378751  1.378751  1.378751
3.2992                       1.0  0.841031 NaN  0.841031  0.841031  0.841031
3.3123                       1.0  0.548445 NaN  0.548445  0.548445  0.548445
3.4759                       1.0  2.860198 NaN  2.860198  2.860198  2.860198
...                          ...       ...  ..       ...       ...       ...
7.4880                       1.0  2.168266 NaN  2.168266  2.168266  2.168266
7.5045                       1.0  2.460688 NaN  2.460688  2.460688  2.460688
7.5599                       1.0  2.350267 NaN  2.350267  2.350267  2.350267
7.6456                       1.0  2.432741 NaN  2.432741  2.432741  2.432741
7.8087                       1.0  2.762835 NaN  2.762835  2.762835  2.762835


                   75%       max
Ladder score
2.5669        1.507236  1.507236
2.8166        1.378751  1.378751
3.2992        0.841031  0.841031
3.3123        0.548445  0.548445
3.4759        2.860198  2.860198
...                ...       ...
7.4880        2.168266  2.168266
7.5045        2.460688  2.460688
7.5599        2.350267  2.350267
7.6456        2.432741  2.432741
7.8087        2.762835  2.762835

[153 rows x 136 columns]